In [1]:
import pandas as pd
import numpy as  np

In [53]:
import dask.dataframe as dd
from datetime import datetime

from matplotlib import pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [59]:
from sklearn.model_selection import train_test_split

In [26]:
datetime.fromtimestamp(1540159210)

datetime.datetime(2018, 10, 22, 1, 0, 10)

In [4]:
features = dd.read_csv('features.csv', sep='\t')

In [5]:
features.head(10000)

,Unnamed: 0,id,buy_time,0,1,2,3,4,5,6,...,243,244,245,246,247,248,249,250,251,252
0,0,2013026,1531688400,18.910029,46.980888,4.969214,-1.386798,3.791754,-14.01179,-16.08618,...,-977.373846,-613.770792,-25.996269,-37.630448,-301.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
1,1,2014722,1539550800,36.690029,152.400888,448.069214,563.833202,463.841754,568.99821,-16.08618,...,-891.373846,-544.770792,-20.996269,48.369552,80.252276,-13.832889,-0.694428,-1.175933,-0.45614,0.0
2,2,2015199,1545598800,-67.019971,157.050888,-63.180786,178.103202,-68.598246,156.99821,3.51382,...,-977.373846,-613.770792,-12.996269,-37.630448,10829.252276,-25.832889,-0.694428,-12.175933,-0.45614,0.0
3,3,2021765,1534107600,7.010029,150.200888,-6.930786,216.213202,76.621754,351.84821,-16.08618,...,-973.373846,-613.770792,-23.996269,-37.630448,-205.747724,-24.832889,-0.694428,-11.175933,-0.45614,1.0
4,4,2027465,1533502800,-90.439971,134.220888,-104.380786,153.643202,-109.798246,132.53821,-16.08618,...,1643.626154,2007.229208,206.003731,-21.630448,6667.252276,92.167111,-0.694428,49.824067,47.54386,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,68152,1542574800,-94.259971,22.670888,-103.960786,-12.986798,-109.378246,28.62821,-16.08618,...,-899.373846,-612.770792,-24.996269,-5.630448,-181.747724,12.167111,-0.694428,-2.175933,-0.45614,0.0
9996,9996,68565,1540155600,-90.689971,657.250888,-104.630786,604.643202,-110.048246,583.53821,-16.08618,...,-714.373846,-354.770792,-25.996269,-36.630448,-173.747724,-24.832889,-0.694428,-12.175933,-0.45614,1.0
9997,9997,68783,1534712400,-96.799971,-69.199112,-103.110786,-87.486798,-108.528246,-108.59179,-16.08618,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,1.0
9998,9998,69002,1547413200,-96.799971,-235.159112,-108.240786,-278.596798,-113.658246,-299.70179,-16.08618,...,5663.626154,-523.770792,-23.996269,20.369552,-229.747724,-20.832889,-0.694428,-12.175933,-0.45614,0.0
9999,9999,69235,1533502800,-96.799971,268.940888,-110.740786,216.333202,-116.158246,195.22821,-16.08618,...,2290.626154,1807.229208,-23.996269,75.369552,1059.252276,0.167111,10.305572,-10.175933,12.54386,0.0

In [6]:
features.shape

(Delayed('int-9b46c0cd-f0af-4f3b-a453-d91457193a99'), 256)

In [7]:
data_train = dd.read_csv('data_train.csv')
data_train.head()

   Unnamed: 0       id  vas_id    buy_time  target
0           0   540968     8.0  1537131600     0.0
1           1  1454121     4.0  1531688400     0.0
2           2  2458816     1.0  1534107600     0.0
3           3  3535012     5.0  1535922000     0.0
4           4  1693214     1.0  1535922000     0.0

In [8]:
data_test = dd.read_csv('data_test.csv')
data_test.head()

   Unnamed: 0       id  vas_id    buy_time
0           0  3130519     2.0  1548018000
1           1  2000860     4.0  1548018000
2           2  1099444     2.0  1546808400
3           3  1343255     5.0  1547413200
4           4  1277040     2.0  1546808400

In [9]:
data_train.iloc[:, 1:].head()

        id  vas_id    buy_time  target
0   540968     8.0  1537131600     0.0
1  1454121     4.0  1531688400     0.0
2  2458816     1.0  1534107600     0.0
3  3535012     5.0  1535922000     0.0
4  1693214     1.0  1535922000     0.0

In [15]:
id_train = data_train['id'].unique().compute()
id_train

0          540968
1         1454121
2         2458816
3         3535012
4         1693214
           ...
806608    3812226
806609    2480469
806610     158236
806611    1825525
806612    3022610
Name: id, Length: 806613, dtype: int64

In [11]:
data_train.compute().shape

(831653, 5)

In [12]:
data_test.compute().shape

(71231, 4)

In [16]:
id_test = data_test['id'].unique().compute()
id_test

0        3130519
1        2000860
2        1099444
3        1343255
4        1277040
          ...
70147    2502453
70148    1693213
70149    1891350
70150    2437172
70151     988236
Name: id, Length: 70152, dtype: int64

In [19]:
list_id = pd.concat([id_train, id_test], ignore_index=True).unique().tolist()
list_id

[540968,
 1454121,
 2458816,
 3535012,
 1693214,
 3173665,
 2611143,
 3577737,
 2000856,
 1232876,
 1387603,
 1409615,
 3620305,
 2458817,
 1737498,
 1715343,
 2284743,
 1121744,
 2000857,
 2044744,
 1454122,
 2524083,
 1054880,
 2066638,
 1759351,
 2393543,
 2284744,
 1715344,
 3022620,
 1232877,
 1913461,
 3302725,
 496038,
 698120,
 4088265,
 2000858,
 1564674,
 2741492,
 3302726,
 1586711,
 1321111,
 361173,
 698121,
 1693217,
 2892532,
 3410066,
 630627,
 1869370,
 921299,
 338521,
 675583,
 3641643,
 361174,
 1542498,
 3577738,
 1321112,
 3812245,
 3641644,
 203194,
 3324456,
 3790798,
 2914277,
 4235633,
 3982629,
 316055,
 3790799,
 1387605,
 2676511,
 518683,
 3259754,
 2545713,
 3388628,
 451181,
 1913463,
 496040,
 158251,
 921302,
 3022622,
 3855134,
 2306712,
 2458821,
 1498656,
 1365529,
 2393544,
 518686,
 2328617,
 720361,
 1099443,
 1825537,
 3216629,
 675585,
 3022623,
 1387607,
 428526,
 3474538,
 4320153,
 3876160,
 3237964,
 2719928,
 1476374,
 1737500,
 1608907,
 1631111,
 630631,
 3833641,
 473594,
 473595,
 3535013,
 1099445,
 3431666,
 2,
 585941,
 1803227,
 3556347,
 2088342,
 3431667,
 2611146,
 3684123,
 2719929,
 1564676,
 2784380,
 1671164,
 271057,
 406191,
 3281337,
 2088343,
 1979033,
 45267,
 3726744,
 203196,
 2153745,
 1737502,
 1586713,
 809823,
 4130548,
 1277039,
 2741493,
 653084,
 2458824,
 4256667,
 428529,
 67794,
 787576,
 585943,
 2306715,
 1913465,
 4109507,
 293591,
 2958020,
 2371954,
 630636,
 742879,
 4277796,
 1781249,
 540972,
 1979034,
 2958021,
 1608909,
 3556349,
 2654706,
 2371955,
 3324461,
 1781250,
 2676513,
 943685,
 854253,
 4109508,
 1935447,
 4256668,
 225791,
 3705435,
 3388632,
 2545714,
 3410068,
 4341318,
 966088,
 90295,
 1210633,
 383961,
 1298816,
 2654707,
 2502458,
 135705,
 1608911,
 3259759,
 4341319,
 2458825,
 1891355,
 2110304,
 2741496,
 1165992,
 1454125,
 428530,
 988243,
 2044750,
 1671170,
 3043904,
 3001074,
 4214492,
 3556350,
 1520443,
 3345706,
 4235638,
 1277041,
 4,
 3833646,
 1010288,
 1715347,
 3517557,
 3345707,
 2022831,
 1608912,
 3431671,
 2000864,
 3324463,
 3790804,
 45269,
 3431672,
 406194,
 2741497,
 4277797,
 608543,
 3345709,
 3216634,
 1586717,
 2806141,
 563359,
 3705437,
 4088267,
 180809,
 1121747,
 2589405,
 3043906,
 4024510,
 1232883,
 1498661,
 2849300,
 383963,
 1165997,
 2545718,
 2219489,
 3599002,
 4130550,
 2306716,
 67798,
 2524090,
 3410071,
 1365534,
 1564679,
 1979036,
 1143839,
 2676516,
 2306717,
 2241230,
 2000866,
 540976,
 1431872,
 1232884,
 1099450,
 787578,
 361179,
 2458830,
 3388637,
 2611150,
 720366,
 3939859,
 1431873,
 1586718,
 406195,
 4151130,
 3130523,
 698126,
 2175794,
 1010290,
 338526,
 451182,
 921308,
 3195327,
 4193393,
 3195328,
 3259761,
 2110307,
 2110308,
 1498666,
 3173671,
 4151131,
 3065444,
 1210637,
 1891359,
 4299033,
 3517560,
 1631117,
 2698192,
 3982635,
 2306720,
 3496180,
 2524091,
 3302735,
 585948,
 1210638,
 3833649,
 1631119,
 4130552,
 2480489,
 3281340,
 248271,
 630641,
 2936041,
 3812250,
 3173672,
 2545720,
 1010292,
 2132068,
 675587,
 1254797,
 3324466,
 2914282,
 3812251,
 383967,
 540977,
 45271,
 2654710,
 4214496,
 1343262,
 4003453,
 3556351,
 698128,
 1781258,
 2806144,
 1232885,
 3726754,
 742887,
 225797,
 361182,
 2284751,
 2153753,
 3982636,
 3620317,
 876764,
 473601,
 4024513,
 3173673,
 3748153,
 653089,
 1608916,
 293595,
 1343265,
 4320162,
 2698195,
 2458832,
 2524094,
 4320163,
 225798,
 3474546,
 1387613,
 3982637,
 3790808,
 2589410,
 1298823,
 2676523,
 2611152,
 1476379,
 3001080,
 4235643,
 2958027,
 3108781,
 3918633,
 2567590,
 2524095,
 2328622,
 2175796,
 1188433,
 876765,
 1232886,
 428534,
 496050,
 3705438,
 45274,
 3173674,
 3641654,
 765465,
 135709,
 2524097,
 361183,
 3897377,
 1825546,
 4256672,
 3237974,
 45275,
 2719935,
 3620318,
 2784386,
 451186,
 2022834,
 3195331,
 1166002,
 1431875,
 473605,
 2197919,
 2936043,
 2110313,
 1935452,
 4256673,
 2415457,
 4130556,
 3705440,
 2719936,
 585951,
 1277048,
 1343267,
 428535,
 2371960,
 1010294,
 2892539,
 1054891,
 1649025,
 3556354,
 3790810,
 3237975,
 293596,
 2784387,
 3620319,
 2241234,
 3259765,
 4193398,
 451187,
 293597,
 3281343,
 22453,
 2350294,
 3216637,
 3043911,
 630646,
 1564681,
 1143844,
 158256,
 1935453,
 1032614,
 1343269,
 1498668,
 1254801,
 1210642,
 3769497,
 4151133,
 4193400,
 921312,
 1298826,
 2153754,
 1365538,
 2393554,
 135711,
 361184,
 2393555,
 2524099,
 1564682,
 988251,
 3367309,
 1054894,
 675590,
 67802,
 1825549,
 2849306,
 4067092,
 2892540,
 4067093,
 3982641,
 921314,
 3367310,
 742893,
 2849307,
 4024515,
 3982642,
 1869383,
 3876173,
 1298827,
 4172097,
 2979786,
 2719938,
 451190,
 3705446,
 3982643,
 3577745,
 15,
 428537,
 2589415,
 2979787,
 3216639,
 2415460,
 2088348,
 1564684,
 1957100,
 3474550,
 1869384,
 3259767,
 4172099,
 3726758,
 16,
 1957101,
 4214499,
 2719940,
 3001083,
 2328627,
 3474551,
 3897379,
 1476382,
 3599007,
 3108782,
 3833655,
 3684137,
 4067094,
 473607,
 1254804,
 3748156,
 2262992,
 158258,
 1166007,
 3535018,
 248283,
 854261,
 2589416,
 2175798,
 3130526,
 3087084,
 2328629,
 2458836,
 1649027,
 2480494,
 585954,
 2633034,
 2676527,
 3410080,
 90309,
 2958032,
 3474552,
 2567593,
 2654714,
 1715351,
 2871012,
 3065452,
 4088280,
 3452983,
 3388648,
 4256676,
 3897381,
 2567594,
 3876175,
 2849311,
 2022837,
 4045737,
 2415463,
 1935454,
 3195335,
 3302740,
 3108785,
 2936050,
 67806,
 4067095,
 112979,
 2458839,
 921317,
 203216,
 809832,
 67807,
 2979789,
 3151939,
 4130563,
 653096,
 3130528,
 2589417,
 3345716,
 2849314,
 4172101,
 316065,
 4088281,
 4130565,
 518696,
 3662746,
 765470,
 3897385,
 67809,
 1869386,
 1631128,
 608557,
 1759366,
 1431878,
 3281347,
 742895,
 765471,
 921319,
 3043912,
 2241238,
 3833657,
 2393560,
 338533,
 473609,
 2153758,
 2936052,
 225805,
 2849317,
 1032623,
 4151138,
 1737512,
 2979794,
 3961322,
 1737514,
 451194,
 540986,
 585959,
 1715355,
 1737516,
 563371,
 4341324,
 1869387,
 585960,
 1121754,
 3556361,
 943701,
 2502462,
 1913479,
 22456,
 1321130,
 540987,
 4256679,
 2458840,
 3812256,
 4214504,
 3855150,
 3790819,
 1210646,
 1891367,
 2153761,
 271067,
 630651,
 90311,
 1891368,
 67811,
 540989,
 1121755,
 112981,
 1232892,
 4109517,
 4130568,
 943702,
 1737517,
 1671181,
 876770,
 720373,
 3961323,
 3599012,
 1121757,
 2393563,
 1542511,
 876771,
 1693228,
 518699,
 3982649,
 2849319,
 1010301,
 3410084,
 1781267,
 3535021,
 2458841,
 2611155,
 3108789,
 2480502,
 1649034,
 3237978,
 4067100,
 2022840,
 742898,
 3001085,
 112983,
 2044763,
 1166011,
 876774,
 2371965,
 1715356,
 3302744,
 675594,
 3001086,
 271070,
 921320,
 2088355,
 2044764,
 2502463,
 3087090,
 2958034,
 3748161,
 3790820,
 832113,
 3641661,
 1586728,
 3195341,
 1121761,
 112984,
 2088356,
 2871018,
 1431886,
 2979798,
 3410086,
 2306731,
 2892554,
 2871019,
 4256681,
 3705451,
 3855153,
 1542515,
 876775,
 135716,
 1671184,
 3130531,
 1891370,
 2524103,
 4235649,
 4024520,
 1737520,
 3151948,
 180820,
 3812259,
 1077224,
 3151949,
 4193403,
 2633039,
 2393565,
 4130571,
 2762970,
 832114,
 2871020,
 4341325,
 316071,
 1542518,
 2979799,
 3087093,
 2197933,
 2545729,
 1232893,
 3237980,
 2110325,
 2480504,
 1737522,
 1210652,
 1298837,
 2241243,
 4024521,
 1166012,
 1232895,
 3496198,
 3022634,
 2306733,
 585964,
 3474557,
 1935460,
 67815,
 2741512,
 3812261,
 3790822,
 1409634,
 653103,
 1825558,
 3151951,
 2000877,
 1586730,
 4341326,
 1409635,
 943707,
 854269,
 2892556,
 3345725,
 921322,
 3022635,
 1825560,
 585965,
 1476389,
 4193408,
 3662757,
 3324481,
 3726765,
 2784392,
 585966,
 2849324,
 4024524,
 2132079,
 2914292,
 4172103,
 540995,
 1803245,
 225810,
 943709,
 451196,
 2263002,
 180823,
 563376,
 3662759,
 3259774,
 45283,
 1803246,
 3876179,
 293609,
 248287,
 451197,
 428545,
 1803247,
 1054900,
 675596,
 675597,
 832117,
 2524105,
 1586732,
 2589420,
 2719946,
 3130534,
 1409637,
 3812262,
 1077226,
 540997,
 3281352,
 3517570,
 225812,
 675598,
 3474560,
 3237983,
 1586733,
 3918643,
 585968,
 1825562,
 3517571,
 383974,
 473616,
 3367318,
 2936057,
 3812263,
 2589422,
 4214508,
 1608924,
 1869392,
 1825563,
 2611160,
 698139,
 1099462,
 135724,
 2827965,
 1979048,
 3577750,
 2110328,
 293612,
 943711,
 3769508,
 1847532,
 4235655,
 563377,
 2871024,
 2219499,
 248289,
 2197934,
 2219500,
 2000880,
 1586736,
 451198,
 585969,
 720380,
 67818,
 675599,
 2263004,
 293613,
 383975,
 2110329,
 1520463,
 3897395,
 4109520,
 3939868,
 2350303,
 2153768,
 3897397,
 29,
 1913487,
 406208,
 1143852,
 225813,
 225814,
 3769509,
 293614,
 1054901,
 1343285,
 3662760,
 1431888,
 943712,
 1671189,
 316073,
 943713,
 2132082,
 1054902,
 2849326,
 2000881,
 2219502,
 563378,
 2110331,
 2088361,
 1803248,
 742905,
 3855155,
 2153769,
 1166015,
 383976,
 3496204,
 2393569,
 921324,
 698143,
 2784396,
 1715363,
 2698209,
 1781272,
 3043923,
 1476391,
 3748166,
 3151956,
 585971,
 3367322,
 3535026,
 1608927,
 2676537,
 2393571,
 876778,
 2000882,
 720382,
 293615,
 541001,
 4277807,
 1542526,
 3684144,
 2784399,
 1847534,
 3388653,
 2611163,
 67820,
 3535027,
 4320174,
 2958041,
 1121765,
 2088363,
 2066657,
 585973,
 4341329,
 2393572,
 3496205,
 3474563,
 765485,
 22465,
 675602,
 2175805,
 248292,
 158269,
 3918649,
 1321140,
 966110,
 271075,
 1343287,
 3367324,
 2936061,
 2306739,
 1803249,
 3065465,
 1321141,
 1387625,
 1188452,
 2914298,
 3726770,
 2633044,
 3216652,
 1693234,
 854272,
 1586739,
 4130576,
 30,
 653108,
 876780,
 31,
 1631140,
 921327,
 3684146,
 2088365,
 1409641,
 180826,
 2306741,
 4341330,
 2892558,
 1671193,
 1759375,
 3001094,
 563380,
 2219506,
 1649043,
 2022843,
 585974,
 4320176,
 1298843,
 2000885,
 3367326,
 2762979,
 1935464,
 4109526,
 ...]

In [20]:
df_features = features[features.id.isin(list_id)].compute()
df_features.shape

(902389, 256)

In [35]:
data_train.loc[data_train['id'] == 3549398 ].compute()

        Unnamed: 0       id  vas_id    buy_time  target
571898      571898  3549398     2.0  1544994000     0.0
571899      571899  3549398     4.0  1542574800     1.0

In [33]:
df_features.loc[df_features['id'] == 3549398]

,Unnamed: 0,id,buy_time,0,1,2,3,4,5,6,...,243,244,245,246,247,248,249,250,251,252
11139,1566898,3549398,1544389200,427.710029,588.840888,426.489214,565.063202,421.071754,543.95821,8.51382,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
1347,3189756,3549398,1544994000,190.590029,727.590888,185.129214,708.903202,179.711754,687.79821,78.16382,...,-977.373846,-613.770792,-25.996269,-37.630448,-301.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0

In [36]:
print(datetime.fromtimestamp(1544994000), datetime.fromtimestamp(1542574800), datetime.fromtimestamp(1544389200), datetime.fromtimestamp(1544994000))

2018-12-17 00:00:00 2018-11-19 00:00:00 2018-12-10 00:00:00 2018-12-17 00:00:00

In [32]:
df_features.id.value_counts()

3549398    2
970084     2
1141451    2
2261626    2
3758554    2
          ..
3157748    1
3158911    1
3162298    1
3162683    1
3521152    1
Name: id, Length: 872577, dtype: int64

In [28]:
data_train.id.value_counts().compute()

1259045    3
274769     3
1281684    3
2702580    3
271692     3
          ..
1493781    1
1493782    1
1493787    1
1493792    1
4362694    1
Name: id, Length: 806613, dtype: int64

In [37]:
data_train_full = data_train.merge(df_features, how='left', on='id').compute()
data_train_full

,Unnamed: 0_x,id,vas_id,buy_time_x,target,Unnamed: 0_y,buy_time_y,0,1,2,...,243,244,245,246,247,248,249,250,251,252
0,0,540968,8.0,1537131600,0.0,3756522,1541970000,-31.559971,327.360888,-45.500786,...,-845.373846,-613.770792,-20.996269,-37.630448,-28.747724,4.167111,7.305572,-12.175933,21.54386,0.0
1,1,1454121,4.0,1531688400,0.0,2735973,1531083600,547.270029,238.430888,533.329214,...,-972.373846,-613.770792,-25.996269,-19.630448,-278.747724,-24.832889,-0.694428,-11.175933,-0.45614,0.0
2,2,2458816,1.0,1534107600,0.0,3586550,1543179600,-92.139971,-95.469112,-106.080786,...,-977.373846,-613.770792,-25.996269,-37.630448,-304.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
3,3,3535012,5.0,1535922000,0.0,1634974,1533502800,54.880029,12.970888,54.079214,...,-977.373846,-613.770792,-25.996269,-18.630448,-133.747724,-14.832889,-0.694428,-1.175933,-0.45614,0.0
4,4,1693214,1.0,1535922000,0.0,716515,1543179600,45.160029,295.240888,64.679214,...,-965.373846,-612.770792,-22.996269,-32.630448,-127.747724,-4.832889,-0.694428,-12.175933,-0.45614,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860047,831648,3812226,2.0,1546203600,0.0,3598646,1532898000,29.750029,6.200888,24.279214,...,-977.373846,-613.770792,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0
860048,831649,2480469,2.0,1546203600,0.0,1126545,1532293200,-89.179971,-56.499112,-103.120786,...,-66.373846,-321.770792,-25.996269,62.369552,1167.252276,41.167111,-0.694428,54.824067,-0.45614,0.0
860049,831650,158236,2.0,1546203600,0.0,3755060,1538946000,-96.799971,62.140888,-110.740786,...,-683.373846,-470.770792,-25.996269,-37.630448,99.252276,178.167111,-0.694428,191.824067,-0.45614,0.0
860050,831651,1825525,2.0,1546203600,0.0,253884,1533502800,-96.799971,-81.919112,-110.740786,...,1018.626154,1367.229208,-24.996269,-35.630448,-237.747724,-21.832889,-0.694428,-8.175933,-0.45614,1.0
860051,831652,3022610,2.0,1546203600,0.0,2556316,1540760400,-49.339971,-218.339112,73.139214,...,-977.373846,-613.770792,-25.996269,-37.630448,-303.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0

In [45]:
data_train_full['buy_time_diff'] = data_train_full['buy_time_x'] - data_train_full['buy_time_y']
data_train_full['buy_time_bool'] = data_train_full['buy_time_diff'].apply(lambda x: 1 if x >= 0 else 0)

In [52]:
data_train_full

,id,vas_id,buy_time_x,target,buy_time_y,0,1,2,3,4,...,245,246,247,248,249,250,251,252,buy_time_diff,buy_time_bool
0,540968,8.0,1537131600,0.0,1541970000,-31.559971,327.360888,-45.500786,274.753202,-50.918246,...,-20.996269,-37.630448,-28.747724,4.167111,7.305572,-12.175933,21.54386,0.0,-4838400,0
1,1454121,4.0,1531688400,0.0,1531083600,547.270029,238.430888,533.329214,274.803202,527.911754,...,-25.996269,-19.630448,-278.747724,-24.832889,-0.694428,-11.175933,-0.45614,0.0,604800,1
2,2458816,1.0,1534107600,0.0,1543179600,-92.139971,-95.469112,-106.080786,-139.596798,-111.498246,...,-25.996269,-37.630448,-304.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,-9072000,0
3,3535012,5.0,1535922000,0.0,1533502800,54.880029,12.970888,54.079214,-9.116798,48.661754,...,-25.996269,-18.630448,-133.747724,-14.832889,-0.694428,-1.175933,-0.45614,0.0,2419200,1
4,1693214,1.0,1535922000,0.0,1543179600,45.160029,295.240888,64.679214,344.283202,59.261754,...,-22.996269,-32.630448,-127.747724,-4.832889,-0.694428,-12.175933,-0.45614,0.0,-7257600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860047,3812226,2.0,1546203600,0.0,1532898000,29.750029,6.200888,24.279214,-37.936798,18.861754,...,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,13305600,1
860048,2480469,2.0,1546203600,0.0,1532293200,-89.179971,-56.499112,-103.120786,-109.106798,-108.538246,...,-25.996269,62.369552,1167.252276,41.167111,-0.694428,54.824067,-0.45614,0.0,13910400,1
860049,158236,2.0,1546203600,0.0,1538946000,-96.799971,62.140888,-110.740786,9.533202,-116.158246,...,-25.996269,-37.630448,99.252276,178.167111,-0.694428,191.824067,-0.45614,0.0,7257600,1
860050,1825525,2.0,1546203600,0.0,1533502800,-96.799971,-81.919112,-110.740786,-128.596798,-116.158246,...,-24.996269,-35.630448,-237.747724,-21.832889,-0.694428,-8.175933,-0.45614,1.0,12700800,1
860051,3022610,2.0,1546203600,0.0,1540760400,-49.339971,-218.339112,73.139214,145.093202,67.721754,...,-25.996269,-37.630448,-303.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,5443200,1

In [51]:
data_train_full.columns

Index(['id', 'vas_id', 'buy_time_x', 'target', 'buy_time_y', '0', '1', '2',
       '3', '4',
       ...
       '245', '246', '247', '248', '249', '250', '251', '252', 'buy_time_diff',
       'buy_time_bool'],
      dtype='object', length=260)

In [50]:
data_train_full.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1, inplace=True)

In [56]:
data_train_full.target.value_counts()

0.0    797845
1.0     62207
Name: target, dtype: int64

In [63]:
RAND_S = 12

In [67]:
X = data_train_full.drop('target', axis=1)
y = data_train_full['target']

In [69]:
X

,id,vas_id,buy_time_x,buy_time_y,0,1,2,3,4,5,...,245,246,247,248,249,250,251,252,buy_time_diff,buy_time_bool
0,540968,8.0,1537131600,1541970000,-31.559971,327.360888,-45.500786,274.753202,-50.918246,253.64821,...,-20.996269,-37.630448,-28.747724,4.167111,7.305572,-12.175933,21.54386,0.0,-4838400,0
1,1454121,4.0,1531688400,1531083600,547.270029,238.430888,533.329214,274.803202,527.911754,253.69821,...,-25.996269,-19.630448,-278.747724,-24.832889,-0.694428,-11.175933,-0.45614,0.0,604800,1
2,2458816,1.0,1534107600,1543179600,-92.139971,-95.469112,-106.080786,-139.596798,-111.498246,-142.90179,...,-25.996269,-37.630448,-304.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,-9072000,0
3,3535012,5.0,1535922000,1533502800,54.880029,12.970888,54.079214,-9.116798,48.661754,-30.22179,...,-25.996269,-18.630448,-133.747724,-14.832889,-0.694428,-1.175933,-0.45614,0.0,2419200,1
4,1693214,1.0,1535922000,1543179600,45.160029,295.240888,64.679214,344.283202,59.261754,323.17821,...,-22.996269,-32.630448,-127.747724,-4.832889,-0.694428,-12.175933,-0.45614,0.0,-7257600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860047,3812226,2.0,1546203600,1532898000,29.750029,6.200888,24.279214,-37.936798,18.861754,-59.04179,...,-25.996269,-37.630448,-306.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,13305600,1
860048,2480469,2.0,1546203600,1532293200,-89.179971,-56.499112,-103.120786,-109.106798,-108.538246,-130.21179,...,-25.996269,62.369552,1167.252276,41.167111,-0.694428,54.824067,-0.45614,0.0,13910400,1
860049,158236,2.0,1546203600,1538946000,-96.799971,62.140888,-110.740786,9.533202,-116.158246,-11.57179,...,-25.996269,-37.630448,99.252276,178.167111,-0.694428,191.824067,-0.45614,0.0,7257600,1
860050,1825525,2.0,1546203600,1533502800,-96.799971,-81.919112,-110.740786,-128.596798,-116.158246,-76.82179,...,-24.996269,-35.630448,-237.747724,-21.832889,-0.694428,-8.175933,-0.45614,1.0,12700800,1
860051,3022610,2.0,1546203600,1540760400,-49.339971,-218.339112,73.139214,145.093202,67.721754,123.98821,...,-25.996269,-37.630448,-303.747724,-25.832889,-0.694428,-12.175933,-0.45614,0.0,5443200,1

In [70]:
y

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
860047    0.0
860048    0.0
860049    0.0
860050    0.0
860051    0.0
Name: target, Length: 860052, dtype: float64

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=RAND_S)

In [75]:
data_train_full.isna().sum().value_counts()

0    260
dtype: int64

ÐŸÑ€Ð¾Ð¿ÑƒÑ‰ÐµÐ½Ð½Ñ‹Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¾Ñ‚ÑÑƒÑ‚ÑÑ‚Ð²ÑƒÑŽÑ‚

In [77]:
from sklearn.linear_model import LogisticRegression

step_log_reg = ('log_reg', LogisticRegression(random_state=RAND_S, n_jobs=-1))

In [78]:
from sklearn.pipeline import Pipeline

bl_estimator = Pipeline([
    step_log_reg
])

In [80]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate

kfold_cv = KFold(n_splits=3, shuffle=True, random_state=RAND_S)

def run_cv(estimator, cv, X, y, scoring='roc_auc', model_name=""):
    cv_res = cross_validate(estimator, X, y, cv=cv, scoring=scoring, n_jobs=-1)
    
    print("%s: %s = %0.2f (+/- %0.2f)" % (model_name,
                                         scoring,
                                         cv_res['test_score'].mean(),
                                         cv_res['test_score'].std() * 2))

In [81]:
run_cv(bl_estimator, kfold_cv, X_train, y_train, model_name="Baseline")

Baseline: roc_auc = 0.63 (+/- 0.01)

In [ ]:
%time
bl_estimator.fit(X_train, y_train)

bl_y_pred = bl_estimator.predict_proba(X_test)[:,1]

CPU times: user 10 Âµs, sys: 1e+03 ns, total: 11 Âµs
Wall time: 22.6 Âµs

In [ ]:
%time
plt.title("Baseline: Ñ€Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ðµ Ð¿Ñ€ÐµÐ´ÑÐºÐ°Ð·Ð°Ð½Ð¸Ð¹ Ð¼Ð¾Ð´ÐµÐ»Ð¸")
plt.hist(bl_y_pred[~y_test.astype(bool)], bins=100, color='r', alpha=0.7);
plt.hist(bl_y_pred[y_test.astype(bool)], bins=100, color='b', alpha=0.7);